<div class="discount-bg">
  <div class="container reveal">
    <div class="discount__title">
      <h2 class="discount__title--back">Акции для Вас</h2>
      <h2 class="discount__title--front">для Вас</h2>
    </div>
    <div class="discount__list">
      <div class="discount__item">
        <img src="img/discount01.webp" alt="" class="discount-item__img" />
        <h3 class="discount-item__title">Каждый четвертый час в подарок!</h3>
      </div>
      <div class="discount__item">
        <img src="img/discount02.webp" alt="" class="discount-item__img" />
        <h3 class="discount-item__title">Скидка 25% на день рождения!</h3>
        <p class="discount-item__text">
          Действует 5 дней до и 5 дней после <br />
          праздничной даты.
        </p>
      </div>
      <div class="discount__item">
        <img src="img/discount03.webp" alt="" class="discount-item__img" />
        <h3 class="discount-item__title">Счастливые часы! 1500 руб./ час</h3>
        <p class="discount-item__text">
          С 8:00 до 16:00 с понедельника <br />
          по четверг
        </p>
      </div>
    </div>
    <div class="discount__disclamer">
      Дорогие гости в нашем заведении акции не суммируются, не действуют в
      праздничные дни и Новогодние каникулы.
    </div>
  </div>
</div>