<div class="container reveal">
    <div class="faq__title--wrapper">
        <div class="faq__title">
            <h2 class="faq__title--front">Часто задаваемые </h2>
            <h2 class="faq__title--back">Часто задаваемые <br> вопросы</h2>
        </div>
    </div>
    <div class="accordeon__wrapper">
        <div class="accordion">
            <ul class="accordion__items">
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Можно ли приходить со своим алкоголем?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>А также диаграммы связей, которые представляют собой яркий пример континентально-европейского
                            типа политической культуры, будут функционально разнесены на независимые элементы.
                            Однозначно, некоторые особенности внутренней политики смешаны с не уникальными данными до
                            степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
                            Современные технологии достигли такого уровня, что реализация намеченных плановых заданий
                            говорит о возможностях приоретизации разума над эмоциями.</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Есть ли у вас банные принадлежности?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Можно ли париться вениками?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Сколько человек вмещает?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>У вас есть кальян?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>До какой температуры разогревается сауна?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Что у вас есть в меню?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Можно ли заказать к вам еду?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>За сколько дней можно забронировать?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__title">
                        <h3>Какие у вас есть акции?</h3>
                        <span class="accordion__icon"></span>
                    </div>
                    <div class="accordion__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nesciunt est voluptates
                            earum sint laborum eligendi blanditiis commodi. Consequuntur culpa ad voluptates aut
                            vitae cumque quod quam quidem? Cupiditate, provident?</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
</div>
</div>
</div>