<footer class="footer reveal">
    <div class="footer__bg">
        <div class="container">
            <div class="footer__wrapper">
                <div class="contacts__wrapper">
                    <div class="footer__title">
                        <h2 class="footer__title--front">Контакты</h2>
                        <h2 class="footer__title--back">Контакты</h2>
                    </div>
                    <a href="tel:+78432590099">8(843)-259-00-99</a>
                    <address>24/7, г. Казань, ул. Минская д.12 </address>
                    <div class="social-media__wrapper">
                        <div class="social-media__item">
                            <img src="img/telegram-footer.svg" alt="">
                            <span>Telegram</span>
                        </div>
                        <div class="social-media__item">
                            <img src="img/whatsapp-footer.svg" alt="">
                            <span>WhatsApp</span>
                        </div>
                        <div class="social-media__item">
                            <img src="img/instagramm-footer.svg" alt="">
                            <span>Instagram</span>
                        </div>
                        <div class="social-media__item">
                            <img src="img/vk-footer.svg" alt="">
                            <span>Vkontakte</span>
                        </div>
                    </div>
                    <div id="room__btn" class="book__btn btn_anim "><a href="#">Забронировать</a></div>

                </div>
                <div class="map__wrapper">
                    <div id="map"></div>

                </div>
            </div>
        </div>
    </div>





</footer>