<div class="healthncare-bg">
    <div class="container reveal">
        <div class="healthncare__container">
            <img src="img/healthncare-img.webp" alt="" class="healthncare__img">
            <div class="healthncare__text">
                <div class="healthncare__title">
                    <h2 class="healthncare__title--front">Все для</h2>
                    <h2 class="healthncare__title--back">Все для здоровья и отдыха</h2>
                </div>
                <h3 class="healthncare__text-title">Финская сауна</h3>
                <p class="healthncare__text-main">Сауна разогревается до 120 градусов за 15 минут, а высокоточные
                    датчики позволяют регулировать жар.
                    К Вашему приходу будет готова нужная температура.
                    Для наших гостей мы сохраняем высокие стандарты качества:</p>
                <ul class="healthncare__list">
                    <li class="healthncare__list-item --svg__point-li-before">Бамбуковые веники и эфирные масла

                    </li>
                    <li class="healthncare__list-item --svg__point-li-before"> Древесная отделка и пологи из липы экстра
                        сорта, которая не
                        выделяет смолу, не обжигает кожу,
                        создает эстетику и уют</li>
                    <li class="healthncare__list-item --svg__point-li-before"> Жаркая каменка с природными камнями.</li>
                </ul>
                <p class="healthncare__text-main">Мы 24 часа в сутки готовим парную с горячим, но мягким воздухом,
                    богатым выбором банных принадлежностей и травяных настоев, чтобы вы могли в любое время отдохнуть от
                    забот.</p>
                <div class="book__btn btn_anim"><a href="#">Забронировать</a></div>

            </div>
        </div>
    </div>
</div>