<div class="main">
  <div class="container">
    <header class="header">
      <a href="#"><img src="img/logo.svg" alt="logo" class="header__logo" /></a>
      <adress class="header__adress"><img src="img/map-pointer.svg" alt="map-pointer" />24/7, г. Казань, ул.
        Минская д. 12</adress>
      <div class="header__messandgers">
        <a href="#" class="messandgers__whatsapp"><img src="img/whatsapp-logo.svg" alt="" class="whatsapp__logo" /></a>
        <a href="#" class="messandgers__telegram"><img src="img/telegram-logo.svg" alt="" class="telegram__logo" /></a>
        <a href="tel:+7(843)-259-00-99" class="messandgers__tel">8(843)-259-00-99</a>
      </div>

      <div class="header__btn btn_anim"><a href="#">Заказать звонок</a></div>
    </header>
    <div class="container ">
      <section class="benefits">
        <h1 class="benefits__title">
          отдых<br />
          для семьи и компании
        </h1>
        <ul class="benefits__list">
          <li class="benefits__item --svg__point-li-before">От 1500 рублей/час</li>
          <li class="benefits__item --svg__point-li-before">Вместимость до 15 человек</li>
          <li class="benefits__item --svg__point-li-before">Уборка антисептиком после каждого гостя</li>
          <li class="benefits__item --svg__point-li-before">Дизайнерский ремонт 2022 года</li>
        </ul>
        <div class="benefit__button btn_anim"><a href="#">Забронировать</a></div>
      </section>
    </div>
  </div>
</div>