<div class="kitchen-bg ">
    <div class="container reveal">
        <div class="kitchen-wrapper">
            <div class="kitchen__title container">
                <h2 class="kitchen__title--back">Кухня и бар</h2>
                <h2 class="kitchen__title--front">Кухня и </h2>
            </div>
            <div class="kitchen__content">
                <div class="food-wrapper">
                    <div class="food-box food-box1">
                        <div class="--svg__point-li"></div>
                        <div class="food-text">Снеки</div>
                    </div>
                    <div class="food-box food-box2">
                        <div class="--svg__point-li"></div>
                        <div class="food-text">Алкогольные напитки</div>
                    </div>
                    <div class="food-box food-box3">
                        <div class="--svg__point-li"></div>
                        <div class="food-text">Кальян</div>
                    </div>
                    <div class="food-box food-box4">
                        <div class="--svg__point-li"></div>
                        <div class="food-text">Авторские чаи</div>
                    </div>
                    <div class="food-box food-box5">
                        <div class="--svg__point-li"></div>
                        <div class="food-text">Соки и газировки</div>
                    </div>

                </div>

                <div class="kitchen-delivery__wrapper">
                    <p class="kitchen__text">Алкоголь и еду можно принести с собой, купить в баре <br>
                        или заказать доставку
                        прямо в
                        сауну
                    </p>
                    <div class="delivery-pic__wrapper">
                        <a href="#" class="kitchen-delivery__delivery btn_anim">
                            <img src="img/delivery.svg" alt="" class="delivery__pic">
                        </a>
                        <a href="#" class="kitchen-delivery__yandex btn_anim">
                            <img src="img/yandex.webp" alt="" class="yandex__pic">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>