<div class="party-bg">
    <div class="container reveal">
        <div class="party__title">
            <h2 class="party__title--front">Место для </h2>
            <h2 class="party__title--back">Место для незабываемой<br> вечеринки</h2>
        </div>
        <div class="party__wrapper">
            <div class="party__item">
                <img src="img/party01.webp" alt="" class="party__pic">
                <div class="party-pic__title">День рождения</div>
            </div>
            <div class="party__item">
                <p>Сауна, хамам, бильярд, караоке, бассейн, авторские коктейли сделают Ваш праздник ярким и
                    полным
                    эмоций.</p>
                <p> А самый радушный персонал Казани окажет Вам по-настоящему горячий прием. </p>
            </div>
            <div class="party__item">
                <img src="img/party02.webp" alt="" class="party__pic">
                <div class="party-pic__title">Новый год</div>
            </div>

            <div class="party__item">
                <img src="img/party03.webp" alt="" class="party__pic">
                <div class="party-pic__title">Семейный отдых</div>
            </div>
            <div class="party__item">
                <img src="img/party04.webp" alt="" class="party__pic">
                <div class="party-pic__title">Встреча с друзьями</div>
            </div>
            <div class="party__item">
                <img src="img/party05.webp" alt="" class="party__pic">
                <div class="party-pic__title">Мальчишник/Девичник</div>
            </div>
        </div>
    </div>
</div>