<div class="bg">
  <div class="container">
    <div class="photo__title">
      <h2 class="photo__title--back">Фото и видеоэкскурсия</h2>
      <h2 class="photo__title--front">и видеоэкскурсия</h2>
    </div>

    <div id="mainCarousel" class="carousel">
      <div class="carousel__slide video-pl" data-src="https://www.youtube.com/watch?v=br3ig82_SgI&t=14s"
        data-fancybox="gallery">
        <a class="play-btn  " href="#" data-fancybox="video-gallery"
          data-src="https://www.youtube.com/watch?v=br3ig82_SgI&t=14s">
          <div class="--svg__play-btn btn_anim__ab"></div>
          <img id='video-bg' src="img/video-bg.webp" />
        </a>
      </div>
      <div class="carousel__slide" data-src="img/slide01.webp" data-fancybox="gallery">
        <img src="img/slide01.webp" />
      </div>
      <div class="carousel__slide" data-src="img/slide02.webp" data-fancybox="gallery">
        <img src="img/slide02.webp" />
      </div>
      <div class="carousel__slide" data-src="img/slide03.webp" data-fancybox="gallery">
        <img src="img/slide03.webp" />
      </div>
      <div class="carousel__slide" data-src="img/slide04.webp" data-fancybox="gallery">
        <img data-lazy-src="img/slide04.webp" />
      </div>
    </div>
    <div id="thumbCarousel" class="carousel">
      <div class="carousel__slide">
        <img class="panzoom__content" src="img/video-bg.webp" />
      </div>
      <div class="carousel__slide">
        <img class="panzoom__content" src="img/slide01.webp" />
      </div>
      <div class="carousel__slide">
        <img class="panzoom__content" src="img/slide02.webp" />
      </div>
      <div class="carousel__slide">
        <img class="panzoom__content" src="img/slide03.webp" />
      </div>
      <div class="carousel__slide">
        <img class="panzoom__content" src="img/slide04.webp" />
      </div>
    </div>
    <div class="book__btn btn_anim"><a href="#">Забронировать</a></div>
  </div>
</div>