<div class="room-bg">

    <img src="img/room-bg.webp" alt="" class="room__bg">
    <div class="container reveal">
        <div class="room-wrapper">
            <div class="room__slider">
                <div id="roomCarousel" class="carousel">
                    <div class="carousel__slide" data-src="img/room01.webp" data-fancybox="gallery2">
                        <div class="room-btn btn_anim"><a href="#">От 1000 рублей</a></div>
                        <img src="img/room01.webp" />
                    </div>
                    <div class="carousel__slide" data-src="img/room02.webp" data-fancybox="gallery2">
                        <div class="room-btn btn_anim"><a href="#">От 1000 рублей</a></div>
                        <img src="img/room02.webp" />
                    </div>
                    <div class="carousel__slide" data-src="img/room03.webp" data-fancybox="gallery2">
                        <div class="room-btn btn_anim"><a href="#">От 1000 рублей</a></div>
                        <img src="img/room03.webp" />
                    </div>
                    <div class="carousel__slide" data-src="img/room04.webp" data-fancybox="gallery2">
                        <div class="room-btn btn_anim"><a href="#">От 1000 рублей</a></div>
                        <img data-lazy-src="img/room04.webp" />
                    </div>
                    <div class="carousel__slide" data-src="img/room05.webp" data-fancybox="gallery2">
                        <div class="room-btn btn_anim"><a href="#">От 1000 рублей</a></div>
                        <img data-lazy-src="img/room05.webp" />
                    </div>
                </div>
                <div id="thumbRoomCarousel" class="carousel">
                    <div class="carousel__slide">
                        <img class="panzoom__content" src="img/room01.webp" />
                    </div>
                    <div class="carousel__slide">
                        <img class="panzoom__content" src="img/room02.webp" />
                    </div>
                    <div class="carousel__slide">
                        <img class="panzoom__content" src="img/room03.webp" />
                    </div>
                    <div class="carousel__slide">
                        <img class="panzoom__content" src="img/room04.webp" />
                    </div>
                    <div class="carousel__slide">
                        <img class="panzoom__content" src="img/room05.webp" />
                    </div>
                </div>
            </div>
            <div class="room__text-wrapper">
                <div class="room__title">
                    <h2 class="room__title--front">Гостиничный </h2>
                    <h2 class="room__title--back">Гостиничный номер </h2>
                </div>
                <p class="room__main-text">Вы можете снять гостиничный номер без аренды сауны.
                </p>
                <p class="room__main-text"> Приглушенная музыка и лаконичный стиль с первых минут перенесут Вас в
                    атмосферу спокойствия и
                    отдыха.</p>
                <p class="room__main-text">В номере найдется все, что нужно:</p>
                <ul class="room__list">
                    <li class="room-list__item --svg__point-li-before">1 кровать размером 200*200</li>
                    <li class="room-list__item --svg__point-li-before">Комплект белья из сатина</li>
                    <li class="room-list__item --svg__point-li-before">Плазменный телевизор </li>
                    <li class="room-list__item --svg__point-li-before">Телефон</li>
                    <li class="room-list__item --svg__point-li-before">Фен</li>
                    <li class="room-list__item --svg__point-li-before">Сейф</li>
                    <li class="room-list__item --svg__point-li-before">Мини-бар</li>
                    <li class="room-list__item --svg__point-li-before">Станция для приготовления чая и кофе</li>
                    <li class="room-list__item --svg__point-li-before">Ванная комната с душевой</li>
                    <li class="room-list__item --svg__point-li-before">Банные принадлежности</li>
                    <li class="room-list__item --svg__point-li-before">Центральная система климат-контроля</li>
                    <li class="room-list__item --svg__point-li-before">Wi-Fi</li>
                </ul>
                <div id="room__btn" class="book__btn btn_anim "><a href="#">Забронировать номер</a></div>

            </div>

        </div>
    </div>
</div>