<div class="services-bg">
  <div class="container reveal">
    <div class="section__title">
      <h2 class="section__title--back">Что получит дорогой гость</h2>
      <h2 class="section__title--front">дорогой гость</h2>

    </div>
    <div class="services">
      <div class="services__block">
        <img src="img/services01.webp" alt="" class="services-block__img" />
        <div class="services-block__text">
          <h3 class="services-block__title">
            Оздоровительные<br />
            процедуры
          </h3>
          <ul class="services-block__list ">
            <li class="services-list__item --svg__point-li-before ">Сауна</li>
            <li class="services-list__item --svg__point-li-before">Хамам
            </li>
            <li class="services-list__item --svg__point-li-before">Бассейн</li>
            <li class="services-list__item --svg__point-li-before">SPA процедуры</li>
          </ul>
        </div>
      </div>
      <div class="services__block">
        <img src="img/services02.webp" alt="" class="services-block__img" />
        <div class="services-block__text">
          <h3 class="services-block__title">
            Отдых<br />
            и общение
          </h3>
          <ul class="services-block__list ">
            <li class="services-list__item --svg__point-li-before">Лаундж зона</li>
            <li class="services-list__item --svg__point-li-before">Бильярд</li>
            <li class="services-list__item --svg__point-li-before">2 комнаты отдыха</li>
            <li class="services-list__item --svg__point-li-before">Мини-кухня</li>
            <li class="services-list__item --svg__point-li-before">Настольные игры</li>
            <li class="services-list__item --svg__point-li-before">Гостиничный номер</li>
          </ul>
        </div>
      </div>
      <div class="services__block">
        <img src="img/services03.webp" alt="" class="services-block__img" />
        <div class="services-block__text">
          <h3 class="services-block__title">
            Медиа<br />
            развлечения
          </h3>
          <ul class="services-block__list">
            <li class="services-list__item --svg__point-li-before">Караоке</li>
            <li class="services-list__item --svg__point-li-before">Музыка</li>
            <li class="services-list__item --svg__point-li-before">Плазменный телевизор 65''</li>
            <li class="services-list__item --svg__point-li-before">Xbox Series X</li>
          </ul>
        </div>
      </div>
      <div class="services__block">
        <img src="img/services04.webp" alt="" class="services-block__img" />
        <div class="services-block__text">
          <h3 class="services-block__title">
            Всегда<br />
            в наличии
          </h3>
          <ul class="services-block__list">
            <li class="services-list__item --svg__point-li-before">Алкогольные напитки</li>
            <li class="services-list__item --svg__point-li-before">Снеки</li>
            <li class="services-list__item --svg__point-li-before">Кальян</li>
            <li class="services-list__item --svg__point-li-before">Авторские чаи</li>
            <li class="services-list__item --svg__point-li-before">Банные принадлежности</li>
            <li class="services-list__item --svg__point-li-before">Косметическая продукция</li>
            <li class="services-list__item --svg__point-li-before">Эфирные масла</li>
            <li class="services-list__item --svg__point-li-before">Веники (бамбуковые)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>