<div class="square-bg">
  <div class="container reveal">
    <div class="square__text-box">
      <div class="square__title">
        <h2 class="square__title--back">250 м2 только в Вашем распоряжении</h2>
        <h2 class="square__title--front">только в Вашем распоряжении</h2>
        <p class="square__text">
          При бронировании сауна полностью закрывается для одного клиента. Вы
          можете провести время с семьей или отдохнуть в компании друзей.
        </p>
        <p class="square__text">
          Вас не будут отвлекать посторонние гости. В сауне останется персонал,
          готовый позаботиться о Вас, учтиво выполнить Ваши пожелания и решить
          любую задачу.
        </p>
        <p class="square__text">
          Мы не используем персональные данные наших клиентов для рекламных
          рассылок и не передаем информацию о гостях третьим лицам.
        </p>
        <p class="square__text">
          С нами Вы можете полностью расслабиться и знать что рядом все свои.
        </p>
      </div>
    </div>
  </div>
</div>